/*__________________________________________ C A B E C E R A __________________________________________*/

header.fondo-cabeza {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.1);
}

/*__________________________________________ P I E __________________________________________*/
footer {
  background-color: rgba(0, 0, 0, 0.5);
}

div.zona-ds {
  grid-row: 1;

  border-top: 4px solid rgba(255, 255, 255, 0.5);
  border-bottom: 4px solid rgba(255, 255, 255, 0.5);
}

/*__________________________________________ C U E R P O __________________________________________*/

div.fondo-equipo

/*contenedor-general*/
  {
  background-image: url("../img/Equipo/Fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: scroll;
  /* PREGUNTAR__________________ */
}


main.fondo-p {
  width: 80%;
  margin: auto;
}

/*__________________________________Zona EQUIPO__________________________________*/
div.zona-miembros {
  margin-left: 20px;
  margin-right: 20px;

  border: 10px solid #314e6a;

  display: grid;
  grid-template-rows: auto auto;
  gap: 20px;

  background-color: #d6dce1;
  background-color: rgba(214, 220, 225, 0.6);

  border: 10px solid #314e6a;
  border-radius: 5px;

}

/* Titulo */
div.equipo-h {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #314e6a;
  padding-top: 20px;
}

h3.nombret {
  font-weight: 100;
  font-size: 30px;
  margin-bottom: 0;
}

h1.equipo {
  font-weight: 100;
  font-size: 60px;
  padding-bottom: 10px;
}

span.gordito {
  font-weight: 900;
}

/*  */
div.contenedor-miembros {
  grid-row: 2;

  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 20px;
}

div.miembro {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 20px;
  padding-bottom: 10px;
  background-color: white;
  border: 10px solid #314e6a;

  border-radius: 7px;
}

div.miembro:hover {
  background-color: rgba(49, 78, 106, 1);
  color: white;
  transform: scale(1.1);
}

img.miembro {
  height: 200px;
  width: 200px;
}

h2.miembro {
  margin-bottom: 15px;
}

h3.miembro {
  margin: 0;
}

img.posicion {
  height: 100px;
}


/*__________________________________Zona ROTACION__________________________________*/
div.zona-rotaciones {
  display: grid;
  grid-template-rows: auto auto;
  gap: 20px;

  margin-left: 20px;
  margin-right: 20px;
  margin-top: 180px;
  margin-bottom: 180px;

  background-color: rgba(25, 46, 53, 0.9);
  border: 10px solid rgb(0, 0, 0, 0.9);
  border-color: rgb(0, 0, 0, 0.5);
  border-radius: 5px;
}

div.rotaciones-t {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;

  color: white;
}

div.contenedor-rotaciones {
  grid-row: 2;
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 20px;
}

div.rotaciones {
  border: 10px solid #314e6a;
  border-color: rgb(0, 0, 0, 0.9);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 20px;
  padding-bottom: 10px;

  background-color: white;
  border-radius: 7px;
}

img.rotaciones {
  height: 200px;
  width: 200px;
}

h2.rotaciones {
  margin-bottom: 15px;
  font-size: 30px;
}

h3.rotaciones {
  margin: 0;
  font-size: 17px;
}

/*__________________________________________ P I E __________________________________________*/

/*__________________________________________ ULTIMATE __________________________________________*/


/*    Zona coach     */
div.zona-coach {

  margin-left: 20px;
  margin-right: 20px;

  border: 10px solid #314e6a;

  display: grid;
  grid-template-rows: auto auto;
  gap: 20px;

  background-color: #d6dce1;
  background-color: rgba(214, 220, 225, 0.6);

  border: 10px solid #314e6a;
  border-radius: 5px;

  width: 25%;
  margin: auto;
  margin-top: 10px;
}

div.coach-h {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #314e6a;
  padding-top: 20px;
}

div.contenedor-coach {


  gap: 20px;
  display: flex;

  padding: 20px;

  align-items: center;
  text-align: center;
  margin: auto;
}

div.coach {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 20px;
  padding-bottom: 10px;
  background-color: white;
  border: 10px solid #314e6a;
  width: 250px;
  border-radius: 7px;
}

div.coach:hover {
  background-color: rgba(49, 78, 106, 1);
  color: white;
  transform: scale(1.15);
}

/*__________________________________________ ANIMACIONES __________________________________________*/

/* Movimiento de fondo */
div.animacion-fondo-o {
  animation: movimiento 38s ease-in-out infinite;
  /* Duración de la animación, tipo de animación y repetición */
}

@keyframes movimiento {
  0% {
    background-position: center 0%;
  }

  50% {
    background-position: center 10%;
  }

  100% {
    background-position: center 0%;
  }
}


div.animacion-fondo-u {
  animation: movimiento1 28s ease-in-out infinite;
  /* Duración de la animación, tipo de animación y repetición */
}

@keyframes movimiento1 {
  0% {
    background-position: center 0%;
  }

  50% {
    background-position: center 27%;
  }

  100% {
    background-position: center 0%;
  }
}



/* Pruebas */

div.fondo-equipo

/*contenedor-general*/
  {
  background-image: url("../img/Equipo/Fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: scroll;
  /* PREGUNTAR__________________ */

 


}

main {
  background: url('/resources/Video/Video\ fondo.mp4') no-repeat;
  background-size:cover; /* Para cubrir todo el contenedor */
}